.herobanner {
  height: 758px;
}

.container {
  height: 758px;
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid red;
}

.bg-runner {
  background-image: url('../img/mobile-banner.jpg');
  background-repeat: no-repeat;
  background-position: top left;
}

@media screen and (max-width: 767px) {
  .bg-runner {
    background-image: url('../img/mobile-banner.jpg');
  }
}

@media screen and (min-width: 768px) {
  .bg-runner {
    background-image: url('../img/tablet-banner.jpg');
  }
}

@media screen and (min-width: 1025px) {
  .bg-runner {
    background-image: url('../img/desktop-banner.jpg');
  }
}
